{% extends "ecommerce/base.html" %} {% block content %}

<!-- Container for demo purpose -->
<div class="container my-5">

	<!-- Section: Design block -->
	<section class="mb-10">
    <div class="row">
      <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
        <h4 class="mb-3">Don't remember your password?</h4>
        <p class="mb-4">Enter your email address, if we have it in the system, we'll send you a link to change your password.</p>
        <form action="" method="post">
          {% csrf_token %} {% if form.email.errors %} {{ form.email.errors }} {% endif %}
          <div class="form-outline mb-4">
            <input type="email" id="forgotBlockEmail12x" class="form-control" name="email" placeholder="Reset password"/>
            <label class="form-label" for="forgotBlockEmail12x">Email</label>
          </div>
          <input type="submit" class="btn btn-primary btn-block mb-4" value="Reset password"/>
          <a href="{% url 'login' %}">Back to login</a>
        </form>
      </div>
    </div>
  </section>
  <!-- Section: Design block -->
  
</div>
<!-- Container for demo purpose -->

{% endblock %}