{% extends 'ecommerce/base.html' %}
{% load my_tags %}
{% load static %}
{% block content %}

  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>About Sauer Websites!</strong></h4>

        <div class="row">
          <div class="col-lg-12 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="{% static 'images/TravisGraduation-24.jpg' %}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">A More Impactful Online Presence Is Just a Click Away</h5>
                <p class="card-text">Welcome to Sauer Websites! I specialize in customizing your business's online presence to create a seamless experience for your customers. I believe that a strong online presence is crucial for amplifying your return on investment, and I'm dedicated to helping you achieve that.

                  One of the key ways I achieve this is by building a solid DevOps foundation for your business's application. This means that new features can be implemented quickly and efficiently, without sacrificing security. I understand that security is a top priority for any business, and should never be treated as an afterthought.
                  
                  Sauer Websites is more than just a Web Application Development Company; I'm a professional who is passionate about helping businesses like yours succeed online. Contact me today to see how we can work together to take your business to the next level.
                </p>
                <a href="/ecomm/contact_us" class="btn btn-primary">Contact Me</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->
    </div>
  </main>
  <!--Main layout-->

  {% endblock content %}