{% extends 'ecommerce/base.html' %}
{% load my_tags %}
{% block content %}

<!-- need to adjust our sizing here for different viewport sizes -->
<div class="container mb-5 mx-auto" style="width: 30%;">

<form id="contact-form" method="POST" action="/ecomm/send_customer_question/"
class="registration_form_needs_validation"
novalidate>
  {% csrf_token %}
  <h2>Contact us</h2>

  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="name" name="name" class="form-control" required/>
    <label class="form-label" for="name">Name</label>
    <div class="invalid-feedback">Enter your full name.</div>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email" name="email" class="form-control" required/>
    <label class="form-label" for="email">Email address</label>
    <div class="invalid-feedback">Enter your email.</div>
  </div>

  <!-- Subject input -->
  <div class="form-outline mb-4">
    <input type="text" id="subject" name="subject" class="form-control" required/>
    <label class="form-label" for="subject">Subject</label>
    <div class="invalid-feedback">Enter a subject.</div>
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
    <label class="form-label" for="message">Message</label>
    <div class="invalid-feedback">Enter your message.</div>
  </div>

  <!-- Mail copy -->
  <div class="form-check">
    <input type="checkbox" class="form-check-input" name="mail_customer_a_copy" id="mailCopy" value="1">
    <label for="mailCopy" class="form-check-label">Send me copy</label>
  </div>

  <!-- Submit button -->
  <button id="submit-form" type="submit" class="btn btn-primary btn-block mb-4">
    Send
  </button>
</form>

</div>

{% endblock content %}