{% extends 'ecommerce/base.html' %} {% block content %}

<!-- Container for demo purpose -->
<div class="container my-5 py-5 text-black">
  <!-- Section: Login form -->
  <section class="">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-5 col-md-8">
        <div class="card rounded-5">
          <div class="card-body p-4">
            <!-- Pills navs -->
            <ul
              class="nav nav-pills nav-justified mb-3"
              id="ex1"
              role="tablist"
            >
              <li
                class="nav-item"
                role="presentation"
              >
                <a
                  class="nav-link active"
                  id="tab-login"
                  data-mdb-toggle="pill"
                  href="#pills-login"
                  role="tab"
                  aria-controls="pills-login"
                  aria-selected="true"
                  >Login</a
                >
              </li>
              <li
                class="nav-item"
                role="presentation"
              >
                <a
                  class="nav-link"
                  id="tab-register"
                  data-mdb-toggle="pill"
                  href="#pills-register"
                  role="tab"
                  aria-controls="pills-register"
                  aria-selected="false"
                  >Register</a
                >
              </li>
            </ul>
            <!-- Pills navs -->

            <!-- Pills content -->
            <div class="tab-content">
                    {% for message in messages %}
                    <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="danger">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                  {% if form.errors %}
                  <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="danger">
                    <strong>Your username and password didn't match.</strong>  Please try again.
                    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
                  </div>
                  {% endif %}
                  {% if next %}
                  {% if user.is_authenticated %}
                    <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="danger">
                      <strong>Your account doesn't have access to this page.</strong>    To proceed,
                      please login with an account that has access.
                      <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% else %}
                  <!--<div class="alert alert-dismissible fade show" role="alert" data-mdb-color="info">
                    <strong>Please login.</strong>
                    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
                  </div>-->
                  {% endif %}
                  {% endif %}
              <div
                class="tab-pane fade show active"
                id="pills-login"
                role="tabpanel"
                aria-labelledby="tab-login"
              >
              <form action="{% url 'ecommerce:auth0_login' %}" method="post">
                {% csrf_token %}
              <div class="text-center mt-4 mb-2">
                <p>Sign in with:</p>
                <!--<button
                  type="button"
                  class="btn btn-link btn-lg btn-floating"
                  data-ripple-color="primary"
                >
                  <i class="fab fa-facebook-f"></i>
                </button>-->

                <button
                  type="submit"
                  class="btn btn-link btn-lg btn-floating"
                  data-ripple-color="primary"
                >
                  <i class="fab fa-google"></i>
                </button>

                <!--<button
                  type="button"
                  class="btn btn-link btn-lg btn-floating"
                  data-ripple-color="primary"
                >
                  <i class="fab fa-twitter"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-link btn-lg btn-floating"
                  data-ripple-color="primary"
                >
                  <i class="fab fa-github"></i>
                </button>-->
              </div>

              <p class="text-center mb-4">or:</p>
              </form>
                <form
                  method="post"
                  action="{% url 'ecommerce:auth0_login' %}"
                  class="registration_form_needs_validation"
                  novalidate
                >
                  {% csrf_token %}

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="loginName"
                      class="form-control"
                      name="username"
                      required
                    />
                    <label
                      class="form-label"
                      for="loginName"
                      >Username</label
                    >
                  <div class="invalid-feedback">Enter your username.</div>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="loginPassword"
                      class="form-control"
                      name="password"
                      required
                    />
                    <label
                      class="form-label"
                      for="loginPassword"
                      >Password</label
                    >
                  <div class="invalid-feedback">Enter your password.</div>
                  </div>

                  <!-- 2 column grid layout -->
                  <div class="row mb-4">
                    <!-- Checkbox -->
                    <div class="col-md-6 d-flex justify-content-center">
                      <!--<div class="form-check mb-3 mb-md-0">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="loginCheck"
                        />
                        <label
                          class="form-check-label"
                          for="loginCheck"
                        >
                          Remember me
                        </label>
                      </div>-->
                    </div>

                    <div class="col-md-6 d-flex justify-content-center">
                      <!-- Simple link -->
                      <a href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>
                  </div>

                  <!-- Submit button -->
                  <button
                    type="submit"
                    class="btn btn-primary btn-rounded w-100 mb-4"
                  >
                    Sign in
                  </button>

                  <!-- Register buttons -->
                  <!--<div class="text-center">
                    <p>Not a member? <a href="#!">Register</a></p>
                  </div>-->
                </form>
              </div>
              <div
                class="tab-pane fade"
                id="pills-register"
                role="tabpanel"
                aria-labelledby="tab-register"
              >
                <form method="post" class="registration_form_needs_validation" action="/ecomm/register_new_user/" novalidate>
                  {% csrf_token %}
                  <div class="text-center mt-4 mb-2">
                    <p>Sign up with:</p>
                    <button
                      type="button"
                      class="btn btn-link btn-lg btn-floating"
                      data-ripple-color="primary"
                    >
                      <i class="fab fa-facebook-f"></i>
                    </button>

                    <button
                      type="button"
                      class="btn btn-link btn-lg btn-floating"
                      data-ripple-color="primary"
                    >
                      <i class="fab fa-google"></i>
                    </button>

                    <button
                      type="button"
                      class="btn btn-link btn-lg btn-floating"
                      data-ripple-color="primary"
                    >
                      <i class="fab fa-twitter"></i>
                    </button>

                    <button
                      type="button"
                      class="btn btn-link btn-lg btn-floating"
                      data-ripple-color="primary"
                    >
                      <i class="fab fa-github"></i>
                    </button>
                  </div>

                  <p class="text-center mb-4">or:</p>

                  <!-- Username input -->
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="registerUsername"
                      class="form-control"
                      name="username"
                      required
                    />
                    <label
                      class="form-label"
                      for="registerUsername"
                      >Username</label>
                      <div class="invalid-feedback">Please provide a username.</div>
                  </div>

                  <!-- Email input -->
                  <!-- Email's are going to be our usernames, this is not true, we want to use usernames to prevent
                       our user's emails being potentially exposed into the wild and used in a attack vector later on -->
                       <div class="form-outline mb-4">
                        <input
                          type="email"
                          id="registerEmail"
                          class="form-control"
                          name="email"
                          required
                        />
                        <label
                          class="form-label"
                          for="registerEmail"
                          >Email</label>
                          <div class="invalid-feedback">Please provide an email.</div>
                      </div>

                  <!-- First Name input -->
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="registerFirstName"
                      class="form-control"
                      name="first_name"
                      required
                    />
                    <label
                      class="form-label"
                      for="registerFirstName"
                      >First Name</label>
                      <div class="invalid-feedback">Please provide a first name.</div>
                  </div>

                  <!-- Last Name input -->
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="registerLastName"
                      class="form-control"
                      name="last_name"
                      required
                    />
                    <label
                      class="form-label"
                      for="registerLastName"
                      >Last Name</label>
                      <div class="invalid-feedback">Please provide a last name.</div>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="registerPassword"
                      class="form-control"
                      name="password"
                      onkeyup="check_if_passwords_match();"
                      required
                    />
                    <label
                      class="form-label"
                      for="registerPassword"
                      >Password</label>
                      <div class="invalid-feedback">Please enter a password.</div>
                      <div id="registerPasswordMessage"></div>
                  </div>

                  <!-- Repeat Password input -->
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="registerRepeatPassword"
                      class="form-control"
                      name="repeat_password"
                      onkeyup="check_if_passwords_match();"
                      required
                    />
                    <label
                      class="form-label"
                      for="registerRepeatPassword"
                      >Repeat password</label>
                      <div class="invalid-feedback">Please enter your password a second time.</div>
                      <div id="registerRepeatPasswordMessage"></div>
                  </div>

                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="registerCheck"
                      aria-describedby="registerCheckHelpText"
                      required
                    />
                    <label
                      class="form-check-label"
                      for="registerCheck"
                    >
                      I have read and agree to the terms
                    </label>
                  </div>

                  <!-- Submit button -->
                  <button
                    type="submit"
                    class="btn btn-primary btn-rounded w-100 mb-3"
                  >
                    Sign Up
                  </button>
                </form>
              </div>
            </div>
            <!-- Pills content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Login form -->
</div>
<!-- Container for demo purpose -->

{% endblock content %}